@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Digital-Numbers";
  src: url("./assets/fonts/DS-DIGI.TTF") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  size-border: box-border;
  font-family: "Digital-Numbers";
}
html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (min-width: 600px) {
  span {
    font-size: 60px;
  }
  .phrase__container {
    width: 450px;
    height: 150px;
    line-height: 19px;
    font-size: 28px;
  }
  .container_circle {
    position: absolute;
    bottom: -68.01%;
  }
  .text_container_circle {
    width: 450px;
    height: 450px;
    padding: 50px;
  }
  .text_container_circle > p {
    font-size: 16px;
  }
}
